html,
body {
    height: 100%;
    width: 100%;
}

html,
body {
    background-image: url(https://imgs.search.brave.com/ACRe-SE-lMYopwUk5FhUne5eTOfXCRQ-2EIr_iPegRI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/d2FsbHBhcGVyc2Fm/YXJpLmNvbS80NS85/L1IwdWRtRS5qcGc);
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}


#Überschrift {
    color: rgb(95, 95, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    text-shadow: #000 3px 3px 3px;
    letter-spacing: 2px;


}

.Überschriften {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.Text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.img-abstand {
    margin-right: 20px;
}




#dropdown-header {
    cursor: pointer;
    user-select: none;
}

#dropdown-menü {
    display: none;
}

.dropdown-header:hover .dropdown-menü {
    display: block;
}