html, body {
    background-image: url(https://imgs.search.brave.com/ACRe-SE-lMYopwUk5FhUne5eTOfXCRQ-2EIr_iPegRI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/d2FsbHBhcGVyc2Fm/YXJpLmNvbS80NS85/L1IwdWRtRS5qcGc);
    min-height: 130vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: 100%;
}


#Überschrift {
    color: rgb(95, 95, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    text-shadow: #000 3px 3px 3px;
    letter-spacing: 2px;


}

.Überschriften {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.Text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.img-abstand {
    margin-right: 20px;
}

#navmain{
    display: flex;
    position: fixed;
    bottom: 20px;
    background-color: #000;
    justify-content: center;
    align-items:  center;
    padding: 10px 0;
    width: 100%;
}


.navmainel{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    padding: 2% 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: #ff7301 solid 2px;
    border-radius: 20px;
}
.navmainelp{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    padding: 2% 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: #ffffff solid 2px;
    border-radius: 20px;
    background-color: #ff7301;
}

.navmainel a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.navmainelp a{
    text-decoration: none;
    color: #000000;
    font-size: 25px;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gridbox {
    border: 2px solid #000;
    padding: 80px 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.cs {
    background-image: url("https://imgs.search.brave.com/71Iog1GnlxLUasohCz4kWu87BwLKhOwITcWLUVf14WA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMuYW5kcm9pZC5j/b20ucGwvdXBsb2Fk/cy8yMDIzLzA5L0Nv/dW50ZXItU3RyaWtl/LTItQ1MyLTEyODB4/Nzk4LnBuZw")
}
.cs:hover {
    background-image: url("https://imgs.search.brave.com/iWAOsTB6KWkOb7BjVRMTTkHHHh5TI3ASb7ZGbfJ_gx8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/aXRjaC56b25lL2FX/MW5MekU0TXpVeU56/QTRMbkJ1Wnc9PS9v/cmlnaW5hbC9HYXVO/ZmIucG5n"), url("https://imgs.search.brave.com/71Iog1GnlxLUasohCz4kWu87BwLKhOwITcWLUVf14WA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMuYW5kcm9pZC5j/b20ucGwvdXBsb2Fk/cy8yMDIzLzA5L0Nv/dW50ZXItU3RyaWtl/LTItQ1MyLTEyODB4/Nzk4LnBuZw");
    transition-duration: 0.5s;
}
.rl {
    background-image: url("https://imgs.search.brave.com/-Am8hqNPhGo27gF2XxC5iEUzdboYvW-8lEg9S-7CMG4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2EwLzRk/LzJiL2EwNGQyYmYw/YzVlODgyMDEwYzBm/OWMzYTI0YjI3OWM4/LmpwZw")
}
.rl:hover {
    background-image: url("https://imgs.search.brave.com/i3tMWZRWFXnTM0Mav7Y-mxOcdjFrhhW6NUAS-MG6-kY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy82/MTA2NzExZjM0YTdl/NTAwMDQzMzBlNTgu/cG5n"), url("https://imgs.search.brave.com/-Am8hqNPhGo27gF2XxC5iEUzdboYvW-8lEg9S-7CMG4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2EwLzRk/LzJiL2EwNGQyYmYw/YzVlODgyMDEwYzBm/OWMzYTI0YjI3OWM4/LmpwZw");
    transition-duration: 0.5s;

}
.ets {
    background-image: url("https://imgs.search.brave.com/huGgPK2ObqmAhsGVpctFzOIXwevCt4nTiLCCP2bsLCE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMjQ2/ODM0OS5qcGc")
}
.ets:hover {
    background-image: url("https://imgs.search.brave.com/iWAOsTB6KWkOb7BjVRMTTkHHHh5TI3ASb7ZGbfJ_gx8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/aXRjaC56b25lL2FX/MW5MekU0TXpVeU56/QTRMbkJ1Wnc9PS9v/cmlnaW5hbC9HYXVO/ZmIucG5n"), url("https://imgs.search.brave.com/huGgPK2ObqmAhsGVpctFzOIXwevCt4nTiLCCP2bsLCE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMjQ2/ODM0OS5qcGc");
    transition-duration: 0.5s;
}
.fb {
    background-image: url("https://imgs.search.brave.com/WRE-5d63BHLdmJWY6qFnDppsz24QyeBP3obzsUz9kQ8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTMx/NTE0Mzk1OC9kZS9m/b3RvL25haGF1Zm5h/aG1lLXp3ZWllci1m/dSVDMyU5RmJhbGwt/b2Rlci1mdSVDMyU5/RmJhbGxlci1pbS1z/dGFkaW9uLWluLXRh/c2NoZW5sYW1wZW4u/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PTc2UVRJMUJwUGo1/eTNGNzdOOUpOa0ZR/aGR5NmRVSnJ1dVFv/emQ5QURwdms9");
}
.fb:hover {
     background-image: url("https://imgs.search.brave.com/WRE-5d63BHLdmJWY6qFnDppsz24QyeBP3obzsUz9kQ8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTMx/NTE0Mzk1OC9kZS9m/b3RvL25haGF1Zm5h/aG1lLXp3ZWllci1m/dSVDMyU5RmJhbGwt/b2Rlci1mdSVDMyU5/RmJhbGxlci1pbS1z/dGFkaW9uLWluLXRh/c2NoZW5sYW1wZW4u/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PTc2UVRJMUJwUGo1/eTNGNzdOOUpOa0ZR/aGR5NmRVSnJ1dVFv/emQ5QURwdms9");
     transform: scale(1.05);
    transition-duration: 0.5s;
}
.f1 {
    background-image: url("https://imgs.search.brave.com/v6rGEZWqi8qarRnSVDd5vJf_c1lRSe4lx6eofdwVWm4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDg3NTc1/ODAuanBn");
}
.f1:hover {
    background-image: url("https://imgs.search.brave.com/v6rGEZWqi8qarRnSVDd5vJf_c1lRSe4lx6eofdwVWm4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDg3NTc1/ODAuanBn");
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.dt {
    background-image: url("https://imgs.search.brave.com/82tw4Dvu5fndssFUkl6WEzt-D_HbNtLOsHzIIgr8eLE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXQuY29t/L3cvZnVsbC81LzAv/Yi8xMTQyNDg0LTE5/MjB4MTI2Ny1kZXNr/dG9wLWhkLWRhcnRz/LXdhbGxwYXBlci5q/cGc");
}
.dt:hover {
    background-image: url("https://imgs.search.brave.com/82tw4Dvu5fndssFUkl6WEzt-D_HbNtLOsHzIIgr8eLE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXQuY29t/L3cvZnVsbC81LzAv/Yi8xMTQyNDg0LTE5/MjB4MTI2Ny1kZXNr/dG9wLWhkLWRhcnRz/LXdhbGxwYXBlci5q/cGc");
    transform: scale(1.05);
    transition-duration: 0.5s;
}
